html {
	background-color: rgb(245, 235, 249);
}

.marker img {
	text-align: center;
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#map-container {
	height: 100vh;
	width: 100%;
	position: relative;
}

/* LOGIN COMPONENT/HOME PAGE*/
#userInput {
text-align: center;
}

/* .bg-login {
	background: url('./public/img/marker.png') no-repeat;
	width: 100%;
} */
