
body {
  background-color: rgb(248, 229, 229);
  min-height: 100%;
  font-family: sans-serif;
}

.marker img {
  text-align: center;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#map-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

#businesses-list li {
  list-style: none;
}

/* Single Business Component */

.resize {
	width: 50%;
	height: 30%;
  }
  
/* LOGIN COMPONENT/HOME PAGE*/
#input-email {
  text-align: center;
  width: 45%;
  font-size: 12px;
  margin-left: 30%;
  margin-top: 100%;
  opacity: 0.85;
  border-color: lightgray;
}

#input-password {
  text-align: center;
  width: 45%;
  font-size: 12px;
  margin-left: 30%;
  opacity: 0.85;
  border-color: lightgray;
}

#btn1 {
  text-align: center;
  width: 45%;
  font-size: 12px;
  margin-left: 30%;
  opacity: 0.85;
  border-color: teal;
}

#btn2 {
  text-align: center;
  width: 45%;
  font-size: 9px;
  margin-left: 30%;
  margin-top: 5%;
  opacity: 0.8;
  font-style: italic;
  opacity: 0.85;
  border: none;
  border-color: blue;
}

#btn3 {
  text-align: center;
  font-size: 6px;
  margin-left: 55%;
  padding: 3px 10px;
  opacity: 0.8;
  border-color: teal;
}

.container-login {
  background: url("https://i.pinimg.com/originals/87/b4/f5/87b4f5e827fcdb94a7ade4329b837793.gif")
    no-repeat fixed;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}

.form-container {
  margin: 0 auto;
  padding-bottom: 20px;
  min-height: 100vh;
  padding-top: 40px;
}

/* NAVBAR COMPONENT*/
@media screen and (max-width: 600px) {
  #navbar-desktop {
    display: none;
  }
}

#btn-logout {
  background-color: none;
  border: none;
  color: rgb(173, 171, 171);
}
